#burger-menu {
  font-family: sans-serif;

  .all-burgers {
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
    padding: 80px 20px;

    .burger-card {
      max-width: 350px;

      background-color: #fff;
      border-radius: 10px;
      margin-bottom: 45px;
      -webkit-box-shadow: 3px 3px 12px -2px rgba(0, 0, 0, 0.66);
      -moz-box-shadow: 3px 3px 12px -2px rgba(0, 0, 0, 0.66);
      box-shadow: 3px 3px 12px -2px rgba(0, 0, 0, 0.66);

      img {
        max-width: 100%;
        display: block;
      }
      .burger-info {
        padding: 10px;

        height: 120px;
        border-bottom: 1px solid gray;
        h4 {
          text-transform: uppercase;
          color: #353b48;
          padding: 8px 0;
          font-size: 18px;
        }
        p {
          opacity: 0.5;
        }
      }
      .burger-order {
        padding: 8px 12px;
        display: flex;
        justify-content: space-between;

        span {
          font-weight: bold;
        }
        .btn-order {
          color: #eccc68;
          cursor: pointer;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  #burger-menu {
    .all-burgers {
      justify-content: center;
      .burger-card {
        margin-bottom: 36px;

        .burger-info {
          height: auto;
        }
      }
    }
  }
}
