.newsletter {
  font-family: "Poppins", sans-serif;

  button {
    padding: 18px 56px;
    text-transform: uppercase;
    border-radius: 6px;
    font-weight: bold;
    font-size: 16px;
    color: white;
    background-color: #9a2522;
  }
}

@media only screen and (max-width: 800px) {
  .newsletter {
    padding: 14px;

    h4 {
      font-size: 32px;
    }
    p {
      font-size: 12px;
    }
  }
}
