nav {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 10px 44px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  z-index: 99; // not very good

  width: 100%;
  font-family: "Passion One", cursive;
  background-color: #eccc68;
  transition: height 0.25s;
  border-bottom: 2px solid #9a2522;

  #menu-open {
    position: absolute;
    right: 5%;
    display: none;

    .icon {
      svg {
        width: 32px;
        height: 32px;
      }
    }
  }

  img {
    width: 220px;
  }

  .hide-logo {
    display: none;
    transition: all 1.9s ease;
  }
  ul {
    display: flex;
    align-items: center;
    li {
      a {
        padding: 14px;
        position: relative;
        text-decoration: none;
        color: #9a2522;

        &:before {
          content: "";
          position: absolute;
          width: 36px;
          height: 36px;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%) scale(0);
          border-radius: 50%;
          opacity: 0.2;
          transition: transform 0.25s;
        }

        &.active:before,
        &:focus:before,
        &:hover:before {
          transform: translate(-50%, -50%) scale(1);
        }

        span {
          position: relative;
          z-index: 2;
        }
      }
      .menu {
        justify-content: flex-start;
        display: flex;
        padding: 8px 35px;
        border: 2px solid #9a2522;
        border-radius: 10px;
        background-color: #9a2522;
        color: #f1c40f;
        span {
          margin-right: 4px;
        }
      }
    }
  }
}

.sidebar-content {
  font-family: "Passion One", cursive;
  text-transform: uppercase;
  background-color: #fff;

  font-size: 22px;
  letter-spacing: 1px;
  padding: 22px;
  min-width: 45%;
  max-width: 75%;

  .sidebar-contents {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    .logo {
      img {
        width: 162px;
      }
    }

    .links {
      padding: 20px 0;
      display: flex;
      align-items: center;

      ul {
        list-style: none;

        li {
          padding: 8px 0;

          a {
            text-decoration: none;
            font-size: 20px;
            color: #9a2522;
            transition: all 0.3s ease;
            &:hover {
              color: #000;
            }
          }
        }
      }
      .navbar-links {
        .menu {
          display: flex;
          justify-content: space-around;
          align-items: center;
          padding: 12px 8px;
          border: 2px solid #9a2522;
          border-radius: 10px;
          background-color: #9a2522;
          color: #fff;

          span {
            margin-right: 4px;
          }
        }
      }
    }
    .social-links {
      justify-content: space-between;
      padding: 0px;
      width: 80px;
      li {
        a {
          text-decoration: none;
          color: #9a2522;
          font-size: 32px;
          transition: all 0.3s ease;
          &:hover {
            color: #000;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  nav {
    justify-content: center;

    img {
      width: 160px;
    }

    ul {
      display: none;
    }

    #menu-open {
      display: block;
    }
  }
}
