nav {
  display: flex;
  // position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 10px 44px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1.5px;

  width: 100%;
  font-family: "Passion One", cursive;
  background-color: #f1c40f;
  transition: height 0.25s;
  border-bottom: 2px solid #9a2522;

  #menu-open {
    position: absolute;
    right: 10%;
    top: 3%;
    z-index: 999;
    display: none;

    .icon {
      svg {
        position: fixed;
        width: 32px;
        height: 32px;
        color: wheat !important;
      }
    }
  }

  img {
    width: 220px;
  }
  ul {
    display: flex;
    align-items: center;
    li {
      a {
        // margin: 0 10px;
        padding: 14px;

        position: relative;
        text-decoration: none;
        color: #9a2522;
      }
      .menu {
        justify-content: flex-start;
        display: flex;
        padding: 8px 35px;
        border: 2px solid #9a2522;
        border-radius: 10px;

        &:hover {
          background-color: #9a2522;
          color: #f1c40f;
          transition: 0.5s all;
        }
        // align-items: center;

        span {
          margin-right: 4px;
        }
      }
    }
  }
}

.sidebar-content {
  font-family: "Passion One", cursive;
  text-transform: uppercase;
  background-color: #fff;

  font-size: 22px;
  letter-spacing: 1px;
  padding: 22px;
  min-width: 45%;
  max-width: 75%;

  .sidebar-contents {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    .logo {
      img {
        width: 162px;
      }
    }

    .links {
      padding: 20px 0;
      display: flex;
      align-items: center;

      ul {
        list-style: none;

        li {
          padding: 8px 0;

          a {
            text-decoration: none;
            font-size: 20px;
            color: #9a2522;
            transition: all 0.3s ease;
            &:hover {
              color: #000;
            }
          }
        }
      }
      .navbar-links {
        .menu {
          div {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 12px 0;
            border: 2px solid #9a2522;
            border-radius: 10px;
            &:hover {
              background-color: #9a2522;
              color: #fff;
            }
          }
        }
      }
    }
    .social-links {
      justify-content: space-between;
      padding: 0px;
      width: 80px;
      li {
        a {
          text-decoration: none;
          color: #9a2522;
          font-size: 32px;
          transition: all 0.3s ease;
          &:hover {
            color: #000;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  nav {
    justify-content: center;

    img {
      width: 140px;
    }

    ul {
      display: none;
    }

    #menu-open {
      display: block;
    }
  }
}
