#main-content {
  z-index: 1;
  height: 105vh;
  background: #ffbe3b;
  position: relative;

  :before {
    z-index: -1;
    position: absolute;
    height: 105vh;
    content: "";
    right: 35%;
    background: white;
    top: 0;
    bottom: 0;
    left: 0;
  }
}

#info-content {
  height: 55vh;
  background-color: #fbf8f2;
  display: flex;
}

#ingredient {
  height: 105vh;
  padding: 5em 5em;
  background-color: #fbf8f2;
}

#video {
  height: 95vh;
  background-color: #0e0c0d;
}

@media screen and (max-width: 768px) {
  #main-content {
    background: white;
    height: auto;
  }

  :before {
    display: none;
  }

  #info-content {
    height: auto;
  }
}
