#loc-and-franchise {
  background-color: #fbf8f2;
  display: flex;
  justify-content: center;
  height: 450px;
  .info-card {
    display: flex;
    padding: 50px;
    .info-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20px;
      max-width: 500px;
      text-align: center;
      h2 {
        font-family: "Passion One", cursive;
        font-size: 40px;
        text-transform: uppercase;
      }
      p {
        opacity: 0.5;
        padding: 25px 0;
      }
      button {
        margin-top: 10px;
        padding: 10px 30px;
        border-radius: 10px;
        color: white;
        text-transform: uppercase;
        font-family: "Passion One", cursive;
        font-size: 1.1em;
        letter-spacing: 2px;

        &:hover {
          outline: none;
          cursor: pointer;
        }
      }
      .btn-location {
        background-color: #00a950;
        border: 1px solid #00a950;

        &:hover {
          background-color: #fff;
          color: #00a950;
          border: 1px solid #00a950;
          transition: 0.5s all;
        }
      }
      .btn-shop {
        background-color: #ff8e27;
        border: 1px solid #ff8e27;
        &:hover {
          background-color: #fff;
          color: #ff8e27;
          border: 1px solid #ff8e27;
          transition: 0.5s all;
        }
      }
      .btn-franchise {
        background-color: #a1cf67;
        border: 1px solid #a1cf67;
        &:hover {
          background-color: #fff;
          color: #a1cf67;
          border: 1px solid #a1cf67;
          transition: 0.5s all;
        }
      }
    }
  }
}

@media screen and (min-width: 1624px) {
}

@media screen and (max-width: 812px) {
  #loc-and-franchise {
    flex-direction: column;
    height: auto;

    .info-card {
      width: 100%;
      padding: 30px;
      .info-content {
        align-items: center;
        padding: 25px;
        button {
          width: 100%;
        }
      }
    }
  }
}
