.menu-section {
  button {
    cursor: pointer;
    outline: none;
  }
  .first-menu-section {
    display: grid;
    grid-template-columns: 30% 40% 30%;

    .menu-sandwiches {
      color: white;
      background-color: #00a950;
      display: flex;
      align-items: center;
      padding: 20px 0px 20px 40px;
      .content {
        text-align: center;
        height: 300px;
        width: 380px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h2 {
          display: flex;
          flex-direction: column;
          font-size: 45px;
          font-family: "Passion One", cursive;
          text-transform: uppercase;
        }
        p {
          font-size: 0.65em;
          font-family: "Poppins", sans-serif;
        }
        button {
          font-family: "Passion One", cursive;
          font-size: 1.1em;
          text-transform: uppercase;
          padding: 9px 18px;
          color: white;
          background-color: transparent;
          border: 1px solid white;
          width: 150px;
          align-self: center;
          border-radius: 12px;
          &:hover {
            color: #00a950;
            background-color: white;
            border: 1px solid #00a950;
          }
        }
      }
      .picture {
        margin-left: 20px;
      }
    }

    .menu-burger {
      background-color: #ff8e27;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px 0px 20px 40px;
      color: white;
      .content {
        text-align: center;
        height: 300px;
        width: 450px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h2 {
          display: flex;
          flex-direction: column;
          font-size: 2.8em;
          font-family: "Passion One", cursive;
          text-transform: uppercase;
        }
        p {
          margin: 2.1em 0;
          font-size: 0.65em;
          font-family: "Poppins", sans-serif;
        }
        button {
          font-family: "Passion One", cursive;
          font-size: 1.1em;
          text-transform: uppercase;
          padding: 9px 18px;
          color: white;
          background-color: transparent;
          width: 150px;
          align-self: center;
          border: 1px solid white;
          border-radius: 12px;

          &:hover {
            color: #ff8e27;
            background-color: white;
            border: 1px solid #ff8e27;
          }
        }
      }
      .picture {
        margin-left: 20px;
      }
    }

    .menu-salads {
      background-color: #a1cf67;
      display: flex;
      align-items: center;
      // justify-content: center;
      padding: 20px 0px 20px 40px;
      color: white;
      .content {
        text-align: center;
        height: 300px;
        width: 450px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h2 {
          display: flex;
          flex-direction: column;
          font-size: 2.8em;
          font-family: "Passion One", cursive;
          text-transform: uppercase;
        }
        p {
          margin: 2.1em 0;
          font-size: 0.65em;
          font-family: "Poppins", sans-serif;
        }
        button {
          font-family: "Passion One", cursive;
          font-size: 1.1em;
          text-transform: uppercase;
          padding: 9px 18px;
          width: 150px;
          align-self: center;
          color: white;
          background-color: transparent;
          border: 1px solid white;
          border-radius: 12px;

          &:hover {
            color: #a1cf67;
            background-color: white;
            border: 1px solid #a1cf67;
          }
        }
      }
      .picture {
        margin-left: 20px;
      }
    }
  }
  .second-menu-section {
    display: grid;
    grid-template-columns: 50% 30% 20%;

    .menu-kids {
      background-color: #245dcb;
      display: flex;
      padding: 20px 0px 20px 40px;
      align-items: center;
      color: white;
      .content {
        height: 300px;
        width: 450px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h2 {
          display: flex;
          flex-direction: column;
          font-size: 2.8em;
          font-family: "Passion One", cursive;
          text-transform: uppercase;
        }
        p {
          font-size: 0.65em;
          font-family: "Poppins", sans-serif;
        }
        button {
          font-family: "Passion One", cursive;
          font-size: 1.1em;
          text-transform: uppercase;
          padding: 9px 18px;
          color: white;
          width: 150px;
          align-self: center;
          background-color: transparent;
          border: 1px solid white;
          border-radius: 12px;

          &:hover {
            color: #245dcb;
            background-color: white;
            border: 1px solid #245dcb;
          }
        }
      }
    }

    .menu-desserts {
      background-color: #cd266d;
      display: flex;
      align-items: center;
      padding: 20px 0px 20px 40px;
      color: white;
      .content {
        text-align: center;
        height: 300px;
        width: 380px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h2 {
          display: flex;
          flex-direction: column;
          font-size: 2.8em;
          font-family: "Passion One", cursive;
          text-transform: uppercase;
        }
        p {
          font-size: 0.65em;
          font-family: "Poppins", sans-serif;
        }
        button {
          font-family: "Passion One", cursive;
          font-size: 1.1em;
          text-transform: uppercase;
          width: 150px;
          align-self: center;
          padding: 9px 18px;
          color: white;
          background-color: transparent;
          border: 1px solid white;
          border-radius: 12px;

          &:hover {
            color: #cd266d;
            background-color: white;
            border: 1px solid #cd266d;
          }
        }
      }

      .picture {
        margin-left: 20px;

        img {
          width: 300px;
        }
      }
    }

    .menu-more {
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      h2 {
        display: flex;
        flex-direction: column;
        font-size: 2.8em;
        font-family: "Passion One", cursive;
        text-transform: uppercase;
        line-height: 0.8em;
      }
      button {
        color: white;
        font-family: "Passion One", cursive;
        background-color: #ff8e27;
        border: none;
        font-weight: bold;
        padding: 6px 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 40px;
        margin-top: 3em;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .menu-section {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;

    .first-menu-section {
      display: flex;
      flex-direction: column;

      .menu-sandwiches {
        padding: 10px 0px 10px 20px;
        height: 400px;
        width: 100%;

        .picture {
          width: 200px;
        }
      }
      .menu-burger {
        height: 450px;
        padding: 10px 0px 10px 20px;
        .content {
          width: 350px;
        }
        .picture {
          margin-left: 5px;
          width: 200px;
        }
      }

      .menu-salads {
        padding: 10px 0px 10px 20px;

        height: 400;
        .content {
          width: 350px;
        }
        .picture {
          margin-left: 5px;
          width: 200px;
        }
      }
    }
    .second-menu-section {
      display: grid;
      grid-template-columns: 50% 50%;
      .menu-kids {
        padding: 20px 20px 20px 20px;
        .content {
          h2 {
            font-size: 1.8em;
          }
          p {
            font-size: 0.6em;
          }
          button {
            background-color: transparent;
            border: 1px solid white;
            width: 100px;
            font-size: 0.9em;
          }
        }
        .picture {
          display: none;
        }
      }
      .menu-desserts {
        padding: 20px 20px 20px 20px;
        .content {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          margin-left: 0;
          h2 {
            font-size: 1.8em;
          }
          p {
            font-size: 0.6em;
          }
          button {
            background-color: transparent;
            border: 1px solid white;
            width: 100px;
            font-size: 0.9em;
          }
        }
        .picture {
          display: none;
        }
      }
      .menu-more {
        display: none;
      }
    }
  }
}
