#toppings-menu,
#sauces-menu,
#freesides-menu {
  padding: 30px 0;

  ul {
    columns: 4;
    li {
      color: #9a2522;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      padding: 2px;
    }
  }
}

@media only screen and (max-width: 800px) {
  #toppings-menu,
  #sauces-menu,
  #freesides-menu {
    ul {
      columns: 2;
    }
  }
}
