.video-section {
  display: flex;
  flex-wrap: wrap;
  padding: 120px;

  color: white;
  background-color: #0e0c0d;
  .content {
    h3 {
      font-family: "Passion One", cursive;
      font-size: 90px;
      letter-spacing: 2px;
      text-transform: uppercase;

      color: #00a950;
    }
    .content-description {
      p {
        display: flex;
        flex-direction: column;
        span {
          color: #ff8e29;
        }
        &:first-child {
          font-size: 45px;
          text-transform: uppercase;
          font-family: "Passion One", cursive;
          color: #a1cf67;
        }
        &:last-child {
          font-family: "Poppins", sans-serif;
          font-size: 14px;
          opacity: 0.4;
        }
      }
    }
    .content-action {
      padding: 40px 10px;
      button {
        font-family: "Passion One", cursive;
        font-size: 18px;
        text-transform: uppercase;
        padding: 9px 18px;
        color: white;
        border-radius: 12px;
        cursor: pointer;
        outline: none;
      }
      .action-video {
        background-color: #00a950;
        border: 1px solid #00a950;
        margin-right: 10px;

        &:hover {
          background-color: #0e0c0d;
          color: #00a950;
          transition: 0.5s all;
        }
      }
      .action-about {
        background-color: transparent;
        opacity: 0.5;
        border: 1px solid grey;

        &:hover {
          opacity: 1;
          transition: 0.5s all;
        }
      }
    }
    .content-resume {
      h6 {
        text-transform: uppercase;
        font-family: "Passion One", cursive;
        opacity: 0.4;
        font-size: 20px;
        margin-bottom: 15px;
      }
      .content-resume-card {
        display: flex;
        justify-content: space-between;
        font-family: "Passion One", cursive;
        text-transform: uppercase;
        color: #ff8e29;
        .card-item {
          display: flex;
          align-items: center;
          padding: 5px;
        }
      }
      svg {
        font-size: 50px;
        margin-right: 10px;
      }
    }
  }
}

@media screen and (max-width: 813px) {
  .video-section {
    padding: 50px;
    .content {
      h3 {
        font-size: 70px;
      }
      .content-description {
        p {
          &:first-child {
            font-size: 25px;
          }
          &:last-child {
            font-size: 12px;
          }
        }
      }
      .content-action {
        button {
          font-size: 12px;
        }
      }
      .content-resume {
        font-size: 14px;
        h6 {
          font-size: 18px;
        }
        .content-resume-card {
          flex-direction: column;
          justify-content: center;

          .card-item {
            padding: 10px 2px;
            justify-content: flex-start;

            p {
              padding: 0 15px;
            }
          }
        }
      }
    }
  }
}
