@import "variables";
@import "index";
@import "menu";
@import "header";
@import url("https://fonts.googleapis.com/css?family=Passion+One:400,700,900&display=swap");

*,
body,
html {
  box-sizing: border-box;
  list-style: none;
  // font-family: "Josefin Sans", cursive;
  margin: 0;
  padding: 0;
}
